html,
body,
header,
nav,
ul,
li,
section,
div,
h1,
h2,
h3,
p,
img,
footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #ff0000;
}

.intro-image{
  position: relative;
  left: 0;
  right: 0;
  top: 50px;
}
.performance-img {
  width: 100%;
  height: auto;
  display: block;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 8%;
  align-items: center;
  gap: 40px;
}

.about-image {
  flex: 1;
  min-width: 300px;
}

.about-image img {
  width: 100%;
  border: 2px solid #ff0000;
  border-radius: 8px;
}

.about-content {
  flex: 1;
  min-width: 300px;
}

.about-content h1 {
  color: #ff0000;
  margin-bottom: 20px;
}

.mission-vision {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px 8%;
  background-color: #111;
}

.mv-box {
  flex: 1;
  min-width: 280px;
  padding: 30px;
  border: 1px solid #ff0000;
  background-color: #000;
  text-align: center;
}

.mv-box h2 {
  color: #ff0000;
  margin-bottom: 15px;
}

.why-us {
  padding: 60px 8%;
  text-align: center;
}

.why-us h2 {
  color: #ff0000;
  margin-bottom: 40px;
}

.why-container {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}


@media screen and (min-width: 600px) {
  .why-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (min-width: 1000px) {
  .why-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.why-card {
  background: #111;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s;
}

.why-card h3 {
  color: #ff0000;
  margin-bottom: 10px;
}

.why-card:hover {
  background: #ff0000;
  color: #000;
}

.why-card:hover h3 {
  color: #000;
}

.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ff0000;
  color: #000;
  padding: 40px 0;
  text-align: center;
}

.stat-box h3 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.stats p {
  color: white;
}
