* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  background-color: rgb(14, 14, 14);
  margin-top: 50px;
  max-width: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(2, 2, 2);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  z-index: 2;
}

header span {
  color: red;
}

.left-section,
.right-section {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 15px;
}

.right-section ul,
a {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: rgb(199, 199, 199);
  text-decoration: none;
}

li{
  list-style-type: none;
}

.right-section a:hover {
  text-decoration: underline;
}

.intro-section {
  height: 300px;
  width: 100%;
  background-color: rgb(15, 15, 15);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-section a {
  padding: 15px 35px;
  background-color: red;
  color: white;
  font-size: 20px;
  border: 1px solid rgb(2, 2, 2);
  box-shadow: 1px 1px 2px rgb(245, 237, 237);
  cursor: pointer;
  transition: 0.3s;
}

.intro-section a:hover {
  background-color: rgb(243, 35, 35);
  padding: 18px 45px;
}

h1 {
  font-size: 50px;
}

section p {
  margin-top: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

section button:hover {
  background-color: rgb(251, 35, 35);
  color: rgb(161, 159, 159);
}

.category {
  background-color: rgb(21, 21, 21);
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category p {
  margin-top: 25px;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.category nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.category nav a {
  display: block;
  text-align: center;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  column-gap: 20px;
  width: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(36, 36, 36);
  padding: 25px 35px;
  transition: 0.5s;
  margin-top: 30px;
  margin-bottom: 65px;
}

.category nav a:hover {
  background-color: rgb(97, 94, 94);
  color: black;
}

footer {
  background-color: black;
  color: white;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {

  .left-section,
  .right-section {
    font-size: 16px;
    margin-left: 7px;
  }

  .right-section ul {
    column-gap: 7px;
  }

  .intro-section {
    height: auto;
    padding: 30px 15px;
  }

  h1 {
    font-size: 32px;
    text-align: center;
  }

  section p {
    font-size: 16px;
    text-align: center;
  }

  .intro-section a {
    font-size: 16px;
    padding: 10px 22px;
  }

  .category p {
    font-size: 22px;
  }

  .category nav {
    column-gap: 12px;
  }

  .category nav{
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .category nav a {
    font-size: 16px;
    padding: 18px 22px;
    width: auto;
    margin: 5px;
  }

  footer {
    font-size: 13px;
  }

}
