h2{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
  color: white;
  text-align: center;
  margin-left: 180px;
  font-size: 39px;
}

p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 130px;
  background-color: rgb(14, 14, 14);
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  z-index: 1;
  border: 2px solid rgb(5, 0, 0);
}

.sidebar ul{
  margin: 0;
  padding: 0;
}

.sidebar nav{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

h3{
  margin-bottom: 15px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}

.nav-card{
  margin-bottom: 5px;
  margin-top: 1px;
}

.nav-card a{ 
  display: block;
  padding: 25px 30%;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  font-size: 20px;

}

.nav-card a:hover{
  background-color: rgb(46, 45, 45);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 140px;
  margin-right: 10px;
  border: none;
  padding: 2px;
  box-sizing: border-box;
}

.product-details{
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.inner-grid{
  width: 100%;
  display: grid;
  grid-template-columns: row;
  border: 1px solid rgb(24, 24, 24);
  text-align: center;
  justify-content: center;
}
.inner-grid p{
  margin-top: 10px;
}

.image-container{
  margin-top: 3px;
  height: 200px;
  width: 250px;
}
.image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.image-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.image-price{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

@media(max-width: 920px){
  .grid{
    grid-template-columns: 1fr 1fr;
    gap: 7px;
    row-gap: 10px;
    margin-left: 140px;
  }
  .product-details{
    margin-right: 5px;
  }

}

@media(min-width: 922px) and (max-width: 1150px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
    
  }
}

@media(min-width: 1155px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-right: 3px;
    padding: 10px;
  }
}

footer {
  background-color: black;
  color: white;
  position: relative;
  margin-left: 130px;
  right: 0;
  bottom: 0;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}





