h2{
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
  color: white;
  text-align: center;
  margin-left: 180px;
  font-size: 39px;
}

p{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 130px;
  background-color: rgb(14, 14, 14);
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  z-index: 1;
  border: 2px solid rgb(5, 0, 0);
}

.sidebar ul{
  margin: 0;
  padding: 0;
}

.sidebar nav{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

h3{
  margin-bottom: 15px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-decoration: underline;
}

.nav-card{
  margin-bottom: 5px;
  margin-top: 1px;
}

.nav-card a{ 
  display: block;
  padding: 25px 30%;
  width: 100%;
  box-sizing: border-box;
  transition: 0.5s;
  font-size: 20px;

}

.nav-card a:hover{
  background-color: rgb(46, 45, 45);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 140px;
  margin-right: 10px;
  border: none;
  padding: 2px;
  box-sizing: border-box;
}

.product-details{
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.inner-grid{
  width: 100%;
  display: grid;
  grid-template-columns: row;
  border: 1px solid rgb(24, 24, 24);
  text-align: center;
  justify-content: center;
}
.inner-grid p{
  margin-top: 10px;
}

.image-container {
  margin-top: 3px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}
.image-title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.image-price{
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}
footer {
  background-color: black;
  color: white;
  position: relative;
  margin-left: 130px;
  margin-top: 10px;
  right: 0;
  bottom: 0;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 701px) and (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  h2 {
    font-size: 32px;
  }
  .image-title{
    margin-top: -20px;
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 100px;
  }

  .sidebar a {
    font-size: 15px;
    margin: 2px 0;
  }
  h2 {
    font-size: 28px;
    margin-left: 140px;
  }
  h3{
    font-size: 14px;
    margin: 10px 0;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
    margin-left: 120px;
    gap: 10px;
  }
  .image-title{
    font-size: 19px;
  }
  footer{
    margin-left: 95px;
  }
}

@media (max-width: 500px){
  .left-section,
  .right-section {
    font-size: 15px;
    margin-left: 7px;
  }
  .sidebar{
    width: 110px;
  }
  .sidebar a{
    font-size: 15px;
    margin: 2px 0;
  }
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 14px;
    margin: 10px 0;
  }
  .grid{
    grid-template-columns: 1fr;
    margin-left: 107px;
    margin-right: 5px;
  }
  footer{
    margin-left: 100px;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 100px;
  }

  .sidebar a {
    font-size: 15px;
    margin: 2px 0;
  }

    h2 {
      font-size: 20px;
      margin-left: 95px;
      margin-top: 60px;
      text-align: center;
    }

  h3 {
    font-size: 14px;
    margin: 10px 0;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-left: 107px;
    margin-right: 5px;
  }

  footer {
    margin-left: 100px;
  }
}

@media (max-width: 420px) {
  .right-section{
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-left: 110px;
    margin-right: 10px;
    gap: 15px;
  }

  .sidebar {
    width: 90px;
  }
  h3{
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
    margin-left: 95px;
    margin-top: 60px;
    text-align: center;
  }

  .image-container {
    height: 180px;
  }
}









